/* === fonts grab === */


@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}


/* === === === === === === ===  general === === === === === === === */

html {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(210deg, rgb(126, 192, 149), rgb(40, 51, 69));
    background-repeat: no-repeat;
    background-size: cover;
}

.whitebg {
    background-image: inherit;
    background-color: white;
}

body {
    margin: 0;

    font-family: "ProximaNova";
    font-weight: 600;
    z-index: 1;
}

*:focus {
    outline: none !important
}



/* === === === === === === === navigation === === === === === === === */

.header-nav {
    width: 100%;
    height: 52px;
    background: transparent;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1);  */
    position: relative;
    top: 2rem;
    transition: 0.5s;
    overflow: auto;

}

.header-nav>a>img {
    height: 40px;
    width: auto;
    margin-top: 0.03rem;
    position: absolute;
    left: 5%;

}


.header-nav>ul {

    max-width: 75%;
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    right: 5%;
    text-align: right;

}

.header-nav>ul>li {
    display: inline-block;

    font-family: "ProximaNova";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;

    margin-left: 2.5rem;

}

.header-nav>ul>li>a:link {
    color: #ffffff;
    text-decoration: none;
}

.header-nav>ul>li>a:visited {
    color: #ffffff;

}

.header-nav>ul>li>a:hover {
    color: #425458;


}

.header-nav>ul>li>a:active {
    display: inline-block;
}




/* === === === === === === ===  farben === === === === === === === */

:root {
    --nav-color: #ffffff;
    /* var(--bg-color) */

}

/* === === === === === === ===  spot flex grid system === === === === === === === */

.flex-container {
    display: flex;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;


    flex-flow: row wrap;

    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}


.spot-preview {
    width: 280px;
    min-height: 350px;
    background-color: white;

    border-radius: 20px;
    overflow: visible;
    margin: 30px;

    -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease 0s;

}

.spot-preview:hover {
    transform: translateY(-20px);
}

.previewimg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 175%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover; 
}

.spot-preview h2 {

    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 75%;
    word-break: break-all;
    

    font-family: "ProximaNova";
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #6c6c6c;
}

.prating {
    position: absolute;
    display: inline-block;
    margin: 0;
    float: right;
    right:5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 600;
    color: #c0c0c0;

}

.spot-preview h3 {

    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 75%;
    word-break: break-all;
    font-family: "ProximaNova";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #c0c0c0;
}

.databar {
    background-color: transparent;
    position: relative;
    

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 85%;
    overflow: auto;
}


.iconbar {
    background-color: transparent;
    position:relative;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 20px;

    width: 85%;
    height: 25px;
    
}
/* .actionbarmini {
    display: block;
    position: absolute;
    bottom: 0;
    right:0;
    background-color: red;
    height: 50px;
    width: 150px;
} */

#viewcount {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    
    margin-left: 3%;
    font-size:16px;
    line-height: 16px;
    max-width: 30px;
    text-align: left;
    font-weight: 500;
    color: #c0c0c0;
}

.actionbarmini1 {
    position: relative;
    display: inline-block;
    float: left;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;
    margin-left: 0%;
    

    width: 20px;

}

.actionbarmini2 {
    position: relative;
    display: inline-block;
    float: left;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;
    margin-left: 54%;

    width: 20px;

}

.actionbarmini3 {
    position: relative;
    float: left;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;
    margin-left: 5%;
    width: 20px;

}

.userspots {
        position: relative;
        float: left;
        width: 65%;
        height: 75vh;
        
        padding: 5px;
        
        margin-left: 5%;   
        overflow:scroll;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}
.user-flex-container {
    display: flex;
    width: 95%;
    height:100%;   
    margin-top: 15px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    flex-flow: row wrap;

    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
   
}


.user-spot-preview {
    width: 30%;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    margin: 10px;
     
}

.user-previewimg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.user-spot-preview>h2 {

    position: relative;
    margin: 0;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;

    font-family: "ProximaNova";
    font-weight: 700;
    font-size: 1rem;
    
    color: #6c6c6c;
}



/* === === === === === === ===  divs options === === === === === === === */

* {
    box-sizing: border-box;
}


.fullscreen {
    height: 100vh;
}

.center {
    vertical-align: center;
}


/* === === === === === === ===  individual divs  === === === === === === === */


.greeting {
    position: relative;
    margin-top: 15vh;

}

.search {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    

    /* position: absolute;
    left: 50%;
    right:50%;
    transform: translate(-50%, -50%);
     
     bottom: 0;
     margin-bottom: 0; */
    width: 75%;
    padding: 5px;

    border-radius: 15px;

    background-color: rgba(255, 255, 255, 1);

}




.filtercat {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    z-index: 3;
    display: none;

    /* position: absolute;
    left: 50%;
    right:50%;
    transform: translate(-50%, -50%);
     
     bottom: 0;
     margin-bottom: 0; */



    width: 75%;
    text-align: center;
    padding: 5px;

    border-radius: 15px;

    background-color: rgba(255, 255, 255, 1);

}

.filtercatbutton {
    
    height:50px;
    padding: 12px 24px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    position: relative;
    
  
    font-size: 16px;
    font-family: "ProximaNova";
    font-weight: 500;
    background-color: transparent;
    
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: rgba(128, 128, 128, 0.5);
    font-family: "ProximaNova";
    font-weight: 500;
    font-size: 16px;
    

}

.searchcheckboxes {
    position: relative;
    
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    
    height: 100%;
    
    

}

.searchcheckboxes>input {
    display: inline-block;
    



}

.searchcheckboxes>label {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
    margin-right: 10px;
     margin-bottom:10px;
    
    

    font-weight: 600;
    color: #c0c0c0;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
   

}
.arrowdown {
    margin-top: 20vh;
    display: flex;

    position: relative;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

}

.overview {
    position: relative;
    width: 100%;
    min-height: 100vh;



    top: 0;
    margin-left: auto;
    margin-right: auto;

}


.loginwrapper {
    position: fixed;
    display: flex;
    width: 55%;
    min-height: 60%;


    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background: white;
    border-radius: 20px;

    -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);




}


.loginactivelogin {
    float: left;
    width: 65%;
    text-align: center;
}

.centerdiv {
    padding: 10px;
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


.loginactivelogin h1 {
    font-family: "ProximaNova";
    font-size: 2rem;
    font-weight: 700;
    color: rgb(126, 192, 149);

    margin: 0;
    margin-bottom: 7%;
}


.forgotpass {
    font-family: "ProximaNova";
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #adadad;


    margin: 0px auto;


    margin-top: 5%;
}


.loginactiveregister {
    float: left;
    width: 35%;
    background-image: linear-gradient(210deg, rgb(126, 192, 149), rgb(62, 88, 89));
    border-radius: 0px 19px 19px 0px;

    text-align: center;


}

.loginactiveregister h1 {
    font-family: "ProximaNova";
    font-size: 2rem;
    font-weight: 700;
    color: white;

   
    margin-bottom: 7%;

}

.loginactiveregister p {
    font-family: "ProximaNova";
    font-size: 16px;
    font-weight: 500;
    color: white;
    max-width: 60%;
    line-height: 1.7rem;
    position: relative;
    margin: 0px auto;


}

.registeractiveregister {
    float: left;
    width: 65%;
    text-align: center;

}

.registeractiveregister h1 {
    font-family: "ProximaNova";
    font-size: 2rem;
    font-weight: 700;
    color: rgb(126, 192, 149);


    margin: 0;
    margin-bottom: 7%;
}



.registeractivelogin {
    float: left;
    width: 35%;
    background-image: linear-gradient(210deg, rgb(126, 192, 149), rgb(62, 88, 89));
    border-radius: 19px 0px 0px 19px;

    text-align: center;


}

.registeractivelogin h1 {
    font-family: "ProximaNova";
    font-size: 2rem;
    font-weight: 700;
    color: white;

    
    margin-bottom: 7%;

}

.registeractivelogin p {
    font-family: "ProximaNova";
    font-size: 16px;
    font-weight: 500;
    color: white;
    max-width: 60%;
    line-height: 1.7rem;
    position: relative;
    margin: 0px auto;


}

.userwrapper {
    position: fixed;
    display: flex;
    width: 75%;
    min-height: 100%;
    left: 50%;
    margin-top: 10vh;

    transform: translateX(-50%);

    /* position: absolute;
    left: 50%;
    right:50%;
    transform: translate(-50%, -50%);
     
     bottom: 0;
     margin-bottom: 0; */
    
    
}

.userdata {
    position: relative;
    float: left;
    width: 30%;
    height: 65vh;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}

.userdata>h2,
h3 {
    float: left;
    clear: both;
    margin: 0;
}

.userdata>h3 {
    margin-top: 20px;
    margin-left: 25px;
    color: #b0b0b0;
    font-weight: 700;
    font-size: 13px;
}

.userdata>h2 {
    margin-top: 5px;
    margin-left: 25px;
    color: rgb(126, 192, 149);
    font-weight: 700;
    font-size: 25px;

}

.userimage {
    position: relative;
    float: left;
    background-color: transparent;
    height: 150px;
    width: 110px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.userimage>img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    /* border-width: 3px;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 20px;
    border-image: linear-gradient(210deg, rgb(126, 192, 149), rgb(40, 51, 69)); */

}

.userimage>h5 {

    font-weight: 600;
    color: rgb(126, 192, 149);
    margin: 0;
    margin-top: 5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    /* border-width: 3px;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 20px;
    border-image: linear-gradient(210deg, rgb(126, 192, 149), rgb(40, 51, 69)); */

}


.spotcreatewrapper {
    position: fixed;
    display: flex;
    width: 90%;
    height: 78%;


    left: 50%;
    margin-top: 10vh;
    border-radius: 20px;

    transform: translateX(-50%);

    /* position: absolute;
    left: 50%;
    right:50%;
    transform: translate(-50%, -50%);
     
     bottom: 0;
     margin-bottom: 0; */

    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;

}

.spotcreatewrapper h2,
h3 {
    float: left;
    clear: both;
    margin: 0;
}

.spotdata {
    position: relative;

    float: left;
    margin-top: 0;
    width: 40%;

    border-radius: 20px 0 0 20px;
    background-color: white;
    z-index: 2;
}

.spotdata label {
    display: block;

    margin-bottom: 0;
    font-weight: 700;
    color: #c0c0c0;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 5px;
}

.spotdata h6 {
    position: relative;
    padding:0;
    margin: 0;
    font-weight: 700;
    color: #6C6C6C;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-left: 5px;
}

table {
    margin-left: 10%;
    table-layout: fixed;
    width: 80%;
    
}

td {
    padding: 0;
    margin: 0;
   word-break: break-all;

}

tr {
    padding: 0;
    margin: 0;
}

#infolabel {
    margin-left: 50px;
}

#title,
#street,
#number,
#zip,
#city,
#info {
    width: 100%;
    height: 5vh;
    padding: 12px;

    margin-top: 3px;
    margin-bottom: 20px;

    position: relative;
    color: #6c6c6c;
    font-size: 16px;
    font-family: "ProximaNova";
    font-weight: 500;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: block;
}



#title,
#street,
#city {
    width: 95%;

}

#number,
#zip {
    width: 95%;

}

#info {
    height: 15vh;
    width: 78%;
    margin-left: 5px;
    resize: none;
    overflow: scroll;
}

#description {
    position: relative;
    max-width: 93%;
    max-height: 100px;
    padding: 0;
    padding-right: 20px;
    margin: 0;
    margin-left: 5px;
    margin-top: 5px;
    text-align: justify;
    font-size:16px;
    color: #6c6c6c;
    line-height: 1.2em;
    overflow-y: scroll;


}




.spotcreatewrapper h1 {

    display: table;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: 700px;
    font-size: 3em;


    background-image: linear-gradient(210deg, rgb(126, 192, 149), rgb(40, 51, 69));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.spotdata>h2 {
    margin-top: 5px;
    margin-left: 25px;
    color: rgb(126, 192, 149);
    font-weight: 700;
    font-size: 25px;

}

.spotcreatewrapper h3 {
    margin-top: 20px;
    margin-left: 25px;
    color: #b0b0b0;
    font-weight: 700;
    font-size: 13px;
}

.spotcreateright {
    position: relative;
    float: left;
    width: 60%;
    background-color: transparent;
    z-index: 2;


}

.fullsizeimage {
    height: 100%;
    width: 100%;

    padding: 0;
    position: relative;

    border-radius: 0 20px 20px 0;
    opacity: 0.5;
    object-fit: cover; 

    /* border-width: 3px;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 20px;
    border-image: linear-gradient(210deg, rgb(126, 192, 149), rgb(40, 51, 69)); */
}



.uploadspotimage,
.deletespotimage
 {
    position: absolute;
    background-color: rgb(126, 192, 149);
    border: none;
    border-radius: 20px;
    
    width: 100PX;
    padding: 12px 0px 12px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "ProximaNova";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;



    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.inputspotimage {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.uploadspotimage:hover {
    background-color: white;
    color: rgb(126, 192, 149);
    
    border-radius: 20px;
}

.deletespotimage:hover {
    background-color: white;
    color: rgb(126, 192, 149);
    
    border-radius: 20px;
}




.spotcreateright > label {
    position: absolute;
    background-color: rgb(126, 192, 149);
    border: 1.8px solid rgb(126, 192, 149);
    border-radius: 20px;
    
    width: 200px;
    padding: 12px 0px 12px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "ProximaNova";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;



    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.deletespotimage {
    top: 90%;

    transform: translate(-50%, -90%);
}

.uploadspotimage {
    top: 80%;
    transform: translate(-50%, -80%);
}


.spotcreateright>h5 {

    font-weight: 600;
    color: rgb(126, 192, 149);
    margin: 0;
    margin-top: 5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    /* border-width: 3px;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 20px;
    border-image: linear-gradient(210deg, rgb(126, 192, 149), rgb(40, 51, 69)); */

}

.setcategory {
    position: absolute;
    float: left;
    top: 18%;
    left: 40%;
    display: none;


    padding: 20px;
    width: 300px;

    background-color: white;
    z-index: 3;
    border-radius: 0 20px 20px 0;
}



.checkboxes {
    position: relative;
    
    margin-top: 2vh;
    white-space: nowrap;
    width: 70%;
    height: 100%;

}

.checkboxes>input {
    display: inline-block;

    float: left;



}

.checkboxes>label {
    display: block;
    margin: 0;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 16px;


    font-weight: 700;
    color: #c0c0c0;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

#catbutton {
    width: 100%;
    height: 5vh;
   

    margin-top: 3px;
    margin-bottom: 20px;

    position: relative;

    font-size: 16px;
    font-family: "ProximaNova";
    font-weight: 600;
    color: #ffffff;

    border: none;
    border-radius: 10px;
    display: block;
    background-color: rgb(126, 192, 149);
}



/* === === === === === === === button === === === === === === ===  */

#menubutton {
    background-color: transparent;
    border: 1.8px solid rgba(255, 255, 255, 1);
    border-radius: 20px;

    padding: 12px 24px 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "ProximaNova";
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    color: #ffffff;


}

#menubutton:hover {
    background-color: #ffffff;
    border: 1.8px solid #ffffff;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "ProximaNova";
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    color: #7ec096;

}


#loginbutton {
    background-color: rgb(126, 192, 149);
    border: 1.8px solid rgb(126, 192, 149);
    border-radius: 20px;

    padding: 12px 24px 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "ProximaNova";
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    color: #ffffff;

    margin-top: 5%;


}

#loginbutton:hover {
    background-color: transparent;
    border: 1.8px solid rgb(126, 192, 149);

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "ProximaNova";
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    color: #7ec096;

}

#tosignup {
    background-color: transparent;
    border: 1.8px solid white;
    border-radius: 20px;

    padding: 12px 24px 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "ProximaNova";
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    color: #ffffff;

    margin-top: 10%;

}

#tosignup:hover {
    background-color: white;
    border: 1.8px solid white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "ProximaNova";
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    color: #7ec096;

}

#profile {
    border-left: 1.8px solid white;
    padding-left: 2.5rem;
}


/* === === === === === === === inputs === === === === === === ===  */

#TopSpots {
    font-weight: 700px;
    font-size: 3em;
    text-align: center;
    background-image: linear-gradient(210deg, rgb(126, 192, 149), rgb(40, 51, 69));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin-top: 80px;

    padding: 0;
}

#search {
    width: 72%;
    height: 50px;
    padding: 12px 24px;
    margin-left: 4%;
    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-family: "ProximaNova";
    font-weight: 500;

    color:#6c6c6c;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

.searchicon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    
    height: 40px;
    float: right;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-padding-start: calc(10px - 3px);
    appearance: none;
    border: none;

    position: relative;
    width: 30%;
    height: 50px;
    padding: 12px 24px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

    display: inline-block;

    font-family: "ProximaNova";
    font-weight: 500;
    font-size: 16px;
    color: #808080;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;


}

select::-ms-expand {
    display: none;
}

.detailinput {
    width: 50%;
    height: 45px;
    padding: 12px 24px;

    margin-top: 20px;

    position: relative;
    color:#6c6c6c;
    font-size: 16px;
    font-family: "ProximaNova";
    font-weight: 500;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: block;
}


#detailinput2 {
    width: 25%;
    height: 50px;
    padding: 12px 24px;

    color:#6c6c6c;

    position: relative;

    font-size: 16px;
    font-family: "ProximaNova";
    font-weight: 500;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: inline-block;

}



/* === === === === === === === text === === === === === === === */

.subtext {

    font-family: "ProximaNova";
    font-size: 20px;
    font-weight: 500;
    color: #c0c0c0;
    line-height: 1.7rem;

    text-align: center;
    margin-top: 20px;
}

#logo {

    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;


    color: #ffffff;
    padding: 12px 24px;

}

.welcomeback {
    font-family: "ProximaNova";
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;

    text-align: center;
}

#intro {
    font-family: "ProximaNova";
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    line-height: 2rem;

    display: inline-block;
    margin: 0px;
    width: 50%;

}

::-webkit-input-placeholder {
    color: #808080;
    font-family: "ProximaNova";
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
}

.error {
    position: relative;
    color: inherit;
    color: #c61b1b;
    font-weight: 600;
    font-size: 13px;

    line-height: 1.7rem;
}

.errordiv,
.errordiv2 {
    position: absolute;
    display: block;
    width: 65%;
    bottom: 2%;
}

.errordiv2 {
    bottom: inherit;
    top: 6vh;
}



/* === === === === === === === NOTIZEN AUS KURS === === === === === === === 


margin-right: auto;
margin-left: auto;


GRID SYSTEM




<-----------------*/

@keyframes jump {
    0% {
        transform: translate(-50%, -50%) scale(1.25, 0.75);
    }

    50% {
        transform: translate(-50%, -150%) scale(1, 1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1.25, 0.75);
    }
}